# Python Tutorial: Base/Intermediate 

***by Alex Borio***

<img src="https://logos-world.net/wp-content/uploads/2021/10/Python-Symbol.png" alt="300" width="300" align="left"/>

# Introduzione a Python

Python è un linguaggio di programmazione di "alto livello", orientato a oggetti, adatto a sviluppare applicazioni distribuite, scripting, computazione numerica e system testing. Viene utilizzato anche per il Machine Learning.

Python è stato progettato in modo da risultare facilmente leggibile e scrivibile. Visivamente si presenta in modo lineare e pulito, con pochi costrutti sintattici rispetto ad altri linguaggi strutturati come per esempio C.

Un aspetto importante del Python è il metodo che usa per delimitare i blocchi di programma, che lo rende unico fra i linguaggi più diffusi. Ovvero è FONDAMENTALE l'indentatura del codice.

# Modulo 1: Overview Python

## Stampare una stringa

In [66]:
print('Hello World!')

Hello World!

## Commenti

In [67]:
#Questo è il mio primo commento!

## Data types

Python supporta quattro tipi di dati di base:
- String: stringa di testo
- Integer: numero intero
- Float: numero decimale
- Boolean: vero/falso

Ognuno di questi tipi è un tipo di oggetto incorporato in Python.
In Python, possiamo assegnare oggetti alle variabili utilizzando l'operatore =, come segue:

    <variable_name> = <object>

In questo modo, stiamo essenzialmente memorizzando un valore (sia esso un intero, una stringa, ecc.) in una variabile, in modo da poter accedere a quello stesso valore in un secondo momento nel nostro codice attraverso il nome della variabile.

### Stringa - string

In [68]:
char= 'P'
print(char)

P

In [69]:
empty_string= '' #stringa vuota

print(empty_string)

In [70]:
frase= 'Hello World!'

print(type(frase))

<class 'str'>

In [71]:
a= 'Hello World!' #apice singolo
b= "Hello World!" #apice doppio
c= '''Hello 
World!''' #stringa multilinea

print(a)
print(b)
print(c)

Hello World!
Hello World!
Hello
World!

In [72]:
frase= ' \'Essere o non essere\' ' #backslash before single or double quote (escape character)
print(frase)

 'Essere o non essere'

### Numero intero - integer

In [73]:
age = 35

type(age)

int

### Numero decimale - float

In [74]:
speed = 4.5

type(speed)

float

### Booleano

In [75]:
gender = True

type(gender)

bool

### Conversione data type

Possiamo convertire un oggetto in un tipo diverso chiamando la funzione corrispondente (int, str, ecc.).
Potrebbe essere necessario eseguire operazioni su variabili di tipo diverso. Poiché i diversi tipi si comportano in modo diverso con alcuni operatori, è buona norma applicare preventivamente qualsiasi trasformazione delle variabili.

In [76]:
#Trasformare un intero in un float
num_int = 5

num_float = float(num_int)

print("num_int", type(num_float))

num_int <class 'float'>

In [77]:
#Trasformare un float in stringa
str1 = str(num_int)

print("str1",type(str1))

str1 <class 'str'>

## Operatori aritmetici

Le operazioni aritmetiche in Python vengono eseguite attraverso le espressioni.

Le espressioni Python sono combinazioni di:
- Operandi: valori su cui eseguire l'operazione (2, 4, ...)
- Operatori: simboli che indicano l'operazione da eseguire (aggiungere, sottrarre, ...)

Le operazioni aritmetiche in Python seguono la stessa gerarchia della matematica 
(le moltiplicazioni e le divisioni vengono eseguite prima delle addizioni e delle sottrazioni). 
Se vogliamo specificare l'ordine delle operazioni, possiamo utilizzare le parentesi

### Somma

In [78]:
print(2 + 7)

'one' + 'two'

9

'onetwo'

### Sottrazione

In [79]:
print(3 - 8)

-5

### Moltiplicazione

In [80]:
print(3 * 5)

'one' * 3

15

'oneoneone'

### Divisione

In [81]:
print(13 / 2)

6.5

### Divisione con arrotondamento

In [82]:
print(13 // 2)

6

### Divisione con resto

In [83]:
print(13 % 2)

1

### Potenza

In [84]:
print(2 ** 10)

1024

### Ordine operazioni

In [85]:
#La moltiplicazione sarà la prima operazione eseguita
print(2+3*5)

17

In [86]:
#La moltiplicazione sarà la seconda operazione eseguita
print ((2+3)*5)

25

## Variabili

<img src="https://miro.medium.com/max/1400/1*Px7h03Ih7B5QZu4KQpSEoQ.png" alt="300" width="300" align="left"/>

In [87]:
variabile= 'Hello'

In [88]:
print(variabile)

Hello

In [89]:
frase= 'Ciao a tutti'
numero= 10

print(frase)
print(numero)

Ciao a tutti
10

### Programmino Area Rettangolo:

In [90]:
base= 10
altezza= 5

print(base*altezza)

50

### Regole per la creazione delle variabili in Python:

<ul>
<li>A variable name must start with a letter or the underscore character.</li>
<li>A variable name cannot start with a number.</li>
<li>A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ ).</li>
<li>Variable names are case-sensitive (name, Name and NAME are three different variables).</li>
<li>The reserved words(keywords) cannot be used naming the variable.</li>
    <li> <strong>Keywords</strong>: ['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']</li>
    
<ul>

### Operatori di confronto

Python supporta gli operatori di confronto, che confrontano due operandi e restituiscono un valore booleano (Vero o Falso):
== uguale , != diverso, < minore, >maggiore , <= minore uguale, >= maggiore uguale

In [91]:
print(1==1)

print(1==2)

print(1!=2)

print(2>1)

print(2<1)

print(1.5>=1)

True
False
True
True
False
True

### Operatori AND, OR, NOT

Python supporta anche gli operatori booleani and, or e not, che possono essere utilizzati per costruire espressioni logiche.
Ogni oggetto Python è True (numeri interi o float non nulli, la costante Vero, sequenze o collezioni non vuote) o False (il numero 0, le costanti Falso e None, sequenze o collezioni vuote). Il cosiddetto valore di verità di un oggetto è accessibile con la funzione bool()

In [92]:
print(1>0 and 2==2)

True

In [93]:
print(1<0 or 2==2)

True

In [94]:
print(not 1>0)

False

## Operazioni sulle strighe

È possibile creare un oggetto stringa (str) digitando una sequenza di caratteri delimitati da apici singoli o doppi.

A differenza dei numeri interi, dei float e dei booleani, una stringa è un insieme di altri oggetti, ovvero i caratteri che la compongono.

Poiché una stringa è una sequenza di caratteri, possiamo accedere ai singoli caratteri facendo riferimento al loro ordine (o indice) all'interno dell'oggetto stringa utilizzando le parentesi quadre.

È possibile indicizzare una stringa in ordine inverso (partendo dalla fine della stringa) utilizzando numeri negativi.

Come la maggior parte dei linguaggi di programmazione, ma a differenza di SAS o R, Python inizia a contare da 0 (indicizzazione a base zero) e non da 1 (indicizzazione a base uno).

### Concatenazione

In [95]:
a= 'Ciao'
b= 'Marco'

print(a + ' ' + b)

Ciao Marco

In [96]:
#metodo con conversione
anno=2022

print('Siamo nell\'anno' + ' ' + str(anno))

Siamo nell'anno 2022

In [97]:
#vecchio metodo con format
print('Siamo nell\'anno {}'.format(anno))

Siamo nell'anno 2022

In [98]:
#nuovo metodo
anno=2022

print( f'Siamo nell\'anno {anno}')

Siamo nell'anno 2022

### Slicing

<img src="https://i1.faceprep.in/Companies-1/string-slicing-in-python.png" alt="300" width="300" align="left"/>

In [99]:
stringa="Ciao"

#Estrarre la prima lettera della stringa (posizione 0)
print(stringa[0])

C

In [100]:
#Dalla seconda posizione ossia dalla terza lettera alla fine
print(stringa[2:])

#Dalla 2° lettera alla 4
print(stringa[1:3]) 

#L'ultima
print(stringa[-1:])

#Dalla penultima all'ultima
print(stringa[-2:])

ao
ia
o
ao

In [101]:
#length (lunghezza stringa (da quanti caratteri è formata))
print(len(frase))

12

### Manipolazione delle stringhe

In [102]:
frase= 'Hello World!'

In [103]:
#lowercase
print(frase.lower() )

hello world!

In [104]:
#uppercase
print(frase.upper())

HELLO WORLD!

In [105]:
#replace characters
print(frase.replace('!', '?'))

Hello World?

In [106]:
#number of specific characters
print(frase.count('l'))

3

In [107]:
print (frase.split(" "))

['Hello', 'World!']

# Modulo 2: Oggetti

## Liste
Le lists sono probabilmente le strutture di dati Python più comuni. Gli elementi all'interno di un elenco sono delimitati da parentesi quadre. Le caratteristiche principali di un elenco sono:
- È iterabile: può essere utilizzata in un ciclo for
- È una sequenza: caratterizzata da una lunghezza, e si può accedere ai suoi elementi attraverso l'ordine in cui compaiono nell'elenco (indice)
- È mutabile: può cambiare il suo stato nel tempo

<img src="https://pynative.com/wp-content/uploads/2021/03/python-list.jpg" alt="350" width="400" align="left"/>

### Creare una lista vuota

In [108]:
empty_list = []

print(empty_list)

[]

In [109]:
print(type(empty_list))

<class 'list'>

### Aggiungere un elemento alla lista

In [110]:
lista = [2, 3, 4, 6]

print(lista)

[2, 3, 4, 6]

In [111]:
lista.append(11)

print(lista)

[2, 3, 4, 6, 11]

### Accesso ai componenti della lista

In [112]:
lista = [2, 3, 4, 6]

print(lista[0])

2

In [113]:
print(lista[-1])

6

In [114]:
print(lista[0:2])

[2, 3]

In [115]:
lista[2:]

[4, 6]

In [116]:
lista[:3]

[2, 3, 4]

In [117]:
lista[:]

[2, 3, 4, 6]

### Unire due liste differenti

In [118]:
list_us = ['New York City', 'Chicago']

list_uk = ['London', 'Bristol']

list_all = list_us + list_uk

print(list_all)

['New York City', 'Chicago', 'London', 'Bristol']

### Copiare una lista

In [119]:
list_original = [1, 2, 3]

list_new = list_original

print(list_original)

print(list_new)

[1, 2, 3]
[1, 2, 3]

In [120]:
list_original = [1, 2, 3]

list_new = list_original[:2]

print(list_original)

print(list_new)

[1, 2, 3]
[1, 2]

### Cancellare alcuni elementi da una lista

In [121]:
list_original = [1, 2, 3, 4, 5]

del list_original[2]

print(list_original)

[1, 2, 4, 5]

In [122]:
del list_original[:2]

print(list_original)

[4, 5]

In [123]:
del list_original[2:]

print(list_original)

[4, 5]

### Cancellare tutti gli elementi da una lista

In [124]:
del list_original[:]

print(list_original)

[]

### Reverse di una lista

In [125]:
lista = [0, 1, 5, 6]

lista.reverse()

print(lista)

[6, 5, 1, 0]

### Ordinare una lista

In [126]:
lista = [0, 1, 5, 6]

lista.sort()

print(lista)

[0, 1, 5, 6]

## Tuple

Una tupla è un contenitore immutabile. Una volta creata, non si può alterare il suo stato. Una tupla non ha metodi come append(), extend() o remove(). Gli elementi di una tupla sono delimitati da parentesi.
Come una list, una tupla è un iterabile e una sequenza. È quindi possibile:
- Utilizzarla all'interno di un ciclo for
- Determinare la sua lunghezza
- Accedere ai suoi elementi attraverso la loro posizione (indice) all'interno della tupla

<img src="https://pynative.com/wp-content/uploads/2021/02/python-tuple.jpg" alt="350" width="400" align="left"/>

### Creare una tupla vuota

In [127]:
empty_tupla = ()

print(empty_tupla)

()

In [128]:
print(type(empty_tupla))

<class 'tuple'>

### Accesso ai componenti della tupla

In [129]:
tupla = (2, 3, 4, 6)

print(tupla[0])

2

In [130]:
print(tupla[-1])

6

In [131]:
print(tupla[0:2])

(2, 3)

In [132]:
tupla[2:]

(4, 6)

In [133]:
tupla[:3]

(2, 3, 4)

In [134]:
tupla[:]

(2, 3, 4, 6)

### Unire due tuple differenti

In [135]:
tupla_us = ('New York City', 'Chicago')

tupla_uk = ('London', 'Bristol')

tupla_all = tupla_us + tupla_uk

print(tupla_all)

('New York City', 'Chicago', 'London', 'Bristol')

### Copiare una tupla

In [136]:
tupla_original = (1, 2, 3)

tupla_new = tupla_original

print(tupla_original)

print(tupla_new)

(1, 2, 3)
(1, 2, 3)

In [137]:
tupla_original = (1, 2, 3)

tupla_new = tupla_original[:2]

print(tupla_original)

print(tupla_new)

(1, 2, 3)
(1, 2)

## Dizionari

Un set è un contenitore non ordinato di elementi unici (come un insieme matematico). Gli elementi di un insieme sono delimitati da parentesi graffe. Come le liste e le tuple, gli insiemi sono iterabili, ma non si può accedere ai loro elementi attraverso il loro indice, poiché sono non ordinati (non sequenziali).

Un dizionario (oggetto dict) è una struttura dati mutabile i cui elementi sono accessibili non attraverso il loro indice (non è una sequenza), ma attraverso un insieme di chiavi definite dall'utente. Un dizionario è una mappatura di coppie chiave-valore. Come un insieme, i suoi elementi sono delimitati da parentesi graffe, ma gli elementi al suo interno sono caratterizzati dalla struttura chiave : valore

<img src="https://pynative.com/wp-content/uploads/2021/02/dictionaries-in-python.jpg" alt="350" width="400" align="left"/>

### Creare un dizionario vuoto

In [138]:
empty_dict = {}

print(empty_dict)

{}

In [139]:
print(type(empty_dict))

<class 'dict'>

### Aggiungere un elemento al dizionario

In [140]:
emails = {
    'Anne Stahl': 'astahl@gmail.com',
    'Peter Small': 'peters@yandex.com',
    'Mark Steel': 'mark@steel.com'
}

print(emails)

{'Anne Stahl': 'astahl@gmail.com', 'Peter Small': 'peters@yandex.com', 'Mark Steel': 'mark@steel.com'}

In [141]:
emails['Bob'] = 'bob987@hotmail.com'

print(emails)

{'Anne Stahl': 'astahl@gmail.com', 'Peter Small': 'peters@yandex.com', 'Mark Steel': 'mark@steel.com', 'Bob': 'bob987@hotmail.com'}

### Cambiare un valore in un dizionario

In [142]:
city_ratings = {
    'Bangkok': [7, 4, 7, 5],
    'Hanoi': [7, 6, 4, 5],
    'Manila': [6, 6, 4, 4, 5]
    }

print(city_ratings)

{'Bangkok': [7, 4, 7, 5], 'Hanoi': [7, 6, 4, 5], 'Manila': [6, 6, 4, 4, 5]}

In [143]:
city_ratings['Hanoi'] = 8

print(city_ratings)

{'Bangkok': [7, 4, 7, 5], 'Hanoi': 8, 'Manila': [6, 6, 4, 4, 5]}

### Accesso ai valori del dizionario

In [144]:
print(emails['Anne Stahl'])

print(city_ratings['Hanoi'])

astahl@gmail.com
8

### Copiare un dizionario

In [145]:
city_ratings = {
    'Bangkok': [7, 4, 7, 5],
    'Hanoi': [7, 6, 4, 5],
    'Manila': [6, 6, 4, 4, 5]
    }

dic_new = city_ratings

print(dic_new)

{'Bangkok': [7, 4, 7, 5], 'Hanoi': [7, 6, 4, 5], 'Manila': [6, 6, 4, 4, 5]}

### Cancellare alcuni elementi da una dizionario

In [146]:
emails = {
    'Anne Stahl': 'astahl@gmail.com',
    'Peter Small': 'peters@yandex.com',
    'Mark Steel': 'mark@steel.com'
}

del emails['Peter Small']

print(emails)

{'Anne Stahl': 'astahl@gmail.com', 'Mark Steel': 'mark@steel.com'}

### Vedere tutte le chiavi del dizionario

In [147]:
print(emails.keys())

dict_keys(['Anne Stahl', 'Mark Steel'])

### Vedere tutti i valori del dizionario

In [148]:
print(emails.values())

dict_values(['astahl@gmail.com', 'mark@steel.com'])

# Modulo 3: Istruzioni e Cicli

## Istruzioni: IF, ELIF e ELSE

Esegue un blocco di codice se un'espressione è valutata come vera.
Python esce da un'istruzione if / elif / else non appena la prima condizione dell'istruzione è vera (anche se le altre condizioni all'interno dell'istruzione sono valutate True).

**Python supports the usual logical conditions from mathematics:**
<ul>
<li>Equals: a == b</li>
<li>Not Equals: a != b</li>
<li>Less than: a < b </li>
<li>Less than or equal to: a <= b </li>
<li>Greater than: a > b</li>
<li>Greater than or equal to: a >= b</li>
</ul>
These conditions can be used in several ways, most commonly in "if statements" and loops.

An "if statement" is written by using the if keyword.

<img src="https://files.realpython.com/media/Conditional-Statements-in-Python_Watermarked.9fe9d98a8558.jpg" width='400' alt='400' align="left"/>

In [149]:
#BLOCCHI DI CODICE --> #indentazione (Per separare un blocco di istruzioni dalle altre)

x= 1
y= 0

if x >= y: # 1>=0 ? 
    print('Maggiore!')

Maggiore!

In [150]:
if y >= x: # 0>=1 ?
    print('Maggiore!')
    
else:
    print('Minore!')

Minore!

In [151]:
x= 0
y= 0

if x > y: # 0>0 ?
    print('Maggiore!')
    
elif x == y:
    print('Uguali!')
    
else:
    print('Minore!')

Uguali!

## Ciclo WHILE

Il ciclo while permette di iterare su tutti gli elementi di un iterabile ed eseguire un determinato blocco di condice affichè la condizione risulti vera. Nel dettaglio:
- il ciclo while è introdotto dalla keyword while, seguita da una condizione (len(seq) > 3) e dai due punti (:);
- dopo i due punti è presente un blocco di codice indentato (che può anche essere formato da più righe);
- il ciclo while esegue il blocco di codice fintanto che la condizione è vera;

<img src="https://files.realpython.com/media/Python-while-Loops-Indefinite-Iteration_Watermarked.ef0b89ed9dae.jpg" width='400' alt='400' align="left"/>

In [152]:
#iterazioni: possibilità di eseguire lo stesso blocco di codice due o più volte.

#WHILE LOOP: numero di iterazioni non è noto fin dall'inizio.

x=0


while x<1:  #--> while True
    print('Sono in loop!')
    break

Sono in loop!

In [153]:
x=0

while x<10:
    print('Sono in loop!')
    x+=1

Sono in loop!
Sono in loop!
Sono in loop!
Sono in loop!
Sono in loop!
Sono in loop!
Sono in loop!
Sono in loop!
Sono in loop!
Sono in loop!

In [154]:
#Loop over elements of a list

i=0
lista= [1,2,3,4,5,6,7,8,9,10]

while i<len(lista):
    print(lista[i]) 
    i+=1

1
2
3
4
5
6
7
8
9
10

In [155]:
lista= [1,2,3,4,5,6,7,8,9,10]

while len(lista)!=0: # "finchè la lista non diventa vuota"
    print(lista[0])
    lista= lista[1:]

1
2
3
4
5
6
7
8
9
10

In [156]:
#continue

i=0
lista= [1,2,3,4,5,6,7,8,9,10]

while i<len(lista):
    
    if lista[i]==5:
        i+=1
        continue
        
    else:
        print(lista[i])
        i+=1

1
2
3
4
6
7
8
9
10

## Ciclo FOR

Il ciclo for ci permette di iterare su tutti gli elementi di un iterabile ed eseguire un determinato blocco di codice. Un iterabile è un qualsiasi oggetto in grado di restituire tutti gli elementi uno dopo l'altro, come ad esempio liste, tuple, set, dizionari (restituiscono le chiavi), ecc. Nel dettaglio:
- il ciclo for è introdotto dalla keyword for, seguita da una variabile, dalla keyword in, da un iterabile, e infine dai due punti (:);
- dopo i due punti è presente un blocco di codice indentato (che può anche essere formato da più righe);
- il ciclo for itera su tutti gli elementi della sequenza, li assegna alla variabile n, ed esegue il blocco di codice;

<img src="https://files.realpython.com/media/Python-for-Loops-Definite-Iteration_Watermarked.b38126d495e1.jpg" width='400' alt='400' align="left"/>

In [157]:
#FOR LOOP: numero di iterazioni è noto fin dall'inizio.

word= 'Python'

for char in word:
    print(char)

P
y
t
h
o
n

In [158]:
fruits = ["apple", "ananas", "cherry"]
for fruit in fruits:
    print(fruit)

apple
ananas
cherry

## La funzione range()

To loop through a set of code a specified number of times, we can use the range() function. <br>
<br>The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

### Ciclo FOR

In [159]:
for n in range(10):
    print(n)

0
1
2
3
4
5
6
7
8
9

In [160]:
for n in range(0, 10):
    print(n)

0
1
2
3
4
5
6
7
8
9

In [161]:
for n in range(0, 11, 2): #start-stop-stepover
    print(n)

0
2
4
6
8
10

In [162]:
#Write a for loop which print "Hello " plus each name in the list. i.e.: "Hello Bob!"

lista= ['Marco', 'Paola', 'Bob', 'Giulia', 'Davide']

for name in lista:
    print(f'Hello {name}!')

Hello Marco!
Hello Paola!
Hello Bob!
Hello Giulia!
Hello Davide!

### Ciclo WHILE

In [163]:
#Write a loop that counts the number of characters of a given string:

word= 'Arcobaleno' #-> length=10

l=0

while word!='':
    l+=1
    word= word[1:]
    
print('Lunghezza: ', l)

Lunghezza:  10

In [164]:
#LENGTH STRING WITH FOR LOOP

word= 'Arcobaleno'

l=0

for char in word:
    l+=1
    
print('Lunghezza: ', l)

Lunghezza:  10

In [165]:
# Write a program that appends the square of each number to a new list.

lista= [1,2,3,4,5]

square_numbers= []

for n in lista:
    square_numbers.append(n**2)
    
print(square_numbers)

[1, 4, 9, 16, 25]

## Istruzioni BREAK e CONTINUE

Python prevede due costrutti che possono essere usati nei cicli for e while:
- break: interrompe il ciclo
- continue: interrompe l'iterazione corrente e procede alla successiva

In [166]:
while True:
    name = input('Enter your name or EXIT to close the program: ')
    if (name == 'EXIT'):
        break
    print('Hello', name)

Hello Luke

In [167]:
for i in range(1, 21):
    if i % 5 == 0:
        continue
    print(i)

1
2
3
4
6
7
8
9
11
12
13
14
16
17
18
19

In [168]:
while True:
    name = input('Give me your name. PASS to do nothing, EXIT to finish.')
    if name == 'PASS':
        continue
    if name == 'EXIT':
        break
    print(name)

Mark

# Modulo 4: Funzioni e Classi

## Funzioni

A function is a block of code which only runs when it is called.

You can pass data, known as parameters, into a function.

A function can return data as a result.

**Le funzioni sono degli strumenti molto potenti che ci permettono di raggruppare degli insiemi di istruzioni per svolgere un compito specifico. Le funzioni possono accettare in input degli argomenti/parametri.**

**Infine le funzioni ci restituranno un output come risultato della computazione delle istruzioni contenute all'interno.**

<img src="https://editor.analyticsvidhya.com/uploads/98650python-functions-banner.png" width='600' alt='600' align="left"/>

### Creare una funzione

In [169]:
def saluta(nome):
    return 'Hello '+ nome
    
print(saluta('Marco'))
print(saluta('Loris'))

Hello Marco
Hello Loris

In [170]:
def somma(n1,n2):
    return n1+n2

print(somma(1440,2330))

3770

In [171]:
def even_odd(n): #pari o dispari?
    if n%2==0:
        return 'Even'
    return 'Odd'

print(even_odd(3))

Odd

In [172]:
def percentage_calculator(): #Percentage calculator (number, %) -> value  100  10% -> 10
    
    start= ''
    
    while start!='q':
        
        number= int(input('Qual\'è il numero di partenza? '))
        percentage= int(input('Qual\'è la percentuale da calcolare? '))
        value= (number*percentage) /100
        
        print('Il valore è: ', value)
        start= input("Per terminare premi 'q' altrimenti premi un altro tasto per calcolare un altro numero ")
        
percentage_calculator()

Il valore è:  0.08

### Programmino Python

In [173]:
#Check if a string is palindrome or not

#Kayak (YES), Madam (YES), Alabama (NO)

def palindrome(word): #True or False
    
    word= word.lower() #lowercased string
    
    if len(word)==0 or len(word)==1: #CASI BASE (LENGTH=0 OR LENGTH=1)
        return True
    
    elif len(word)==2: #CASO LENGTH=2
        if word[0]==word[1]:
            return True
        else:
            return False
        
    else: #CASO LENGTH>2
        for i in range(len(word)//2): # Es: kayak 01(2)35
            if word[i]!=word[-(i+1)]:
                return False

        return True #FINE LOOP (arrivati qui tutti i caratteri sono stati controllati e sono risultati essere uguali)

In [174]:
print(palindrome('Kayak'))
print(palindrome('Madam'))
print(palindrome('Alabama'))

True
True
False

## Classi

Python is an object oriented programming language.

Almost everything in Python is an object, with its properties and methods.

A Class is like an object constructor, or a "blueprint" for creating objects.

### Creare una classe

In [175]:
class Hogwarts_students:
    
    "This is a Hogwarts_students class"
    
    def __init__(self, name, age, house): #Attributi della classe
        self.name = name
        self.age = age
        self.house = house #4 Case: Grifondoro,Serpeverde,Tassorosso,Corvonero


    def greet(self): #class method
        print('Hello!')
        
    def spell(self):
        print('Expelliarmus!')

### Creare un oggetto

Usiamo la classe MyClass per creare degli oggetti

In [176]:
harry = Hogwarts_students('Harry', 21, 'Gryffindor')
hermione = Hogwarts_students('Hermione', 20, 'Gryffindor')
ron = Hogwarts_students('Ron', 22, 'Gryffindor')
draco = Hogwarts_students('Draco', 22, 'Slytherin')

In [177]:
print(harry.name, harry.age, harry.house)
print(hermione.name, hermione.age, hermione.house)
print(ron.name, ron.age, ron.house)
print(draco.name, draco.age, draco.house)

Harry 21 Gryffindor
Hermione 20 Gryffindor
Ron 22 Gryffindor
Draco 22 Slytherin

In [178]:
harry.greet()

Hello!

In [179]:
hermione.spell()

Expelliarmus!

In [180]:
harry.house

'Gryffindor'